[core]
    pager = delta
    untrackedcache = true
    fsmonitor = true

[delta]
    navigate = true
    light = false

[diff]
    colorMoved = default

[interactive]
    diffFilter = delta --color-only

[merge]
    conflitstyle = diff3

[user]
    name = Cerek Hillen
    email = cerekh@gmail.com

[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit

[push]
    autoSetupRemote = true

[pull]
    merge = true
    rebase = false

[fetch]
    prune = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
