# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = Cerek Hillen
    email = cerekh@gmail.com

[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
[push]
	autoSetupRemote = true
